src/flows/Change_Location_on_Approval_Steps.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activate_Approval_Step_Modify_All_Access</name>
        <label>Activate Approval Step Modify All Access</label>
        <locationX>368</locationX>
        <locationY>274</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>Approval_Step_Location_Details</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>ApprovalStepModifyAll</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>ApprovalStepModifyAll</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Controlled_Document_Tracker_Exec_Sec_Admin_Modify_All</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsCDTExecSecAdmin</name>
        <label>CDT Exec Sec Admin?</label>
        <locationX>215</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Permission_Set_Not_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CDTExecSecAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Step_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Change Location on Approval Steps</description>
    <interviewLabel>Change Location on Approval Steps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Location on Approval Steps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Approval Step Record</description>
        <name>Get_Approval_Step_Record</name>
        <label>Get Approval Step Record</label>
        <locationX>225</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Approval_Step_Modify_All_Access</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApprovalStepID</elementReference>
            </value>
        </filters>
        <object>Approval_Step__c</object>
        <outputReference>ApprovalStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_s_Location__c</queriedFields>
        <queriedFields>Approver_s_Region_Location__c</queriedFields>
        <queriedFields>Approver_s_Division_Code__c</queriedFields>
        <queriedFields>Approver_s_Division_Name__c</queriedFields>
        <queriedFields>Approver_s_Organization_Acronym__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Approval Step Record</description>
        <name>Update_Approval_Step_Record</name>
        <label>Update Approval Step Record</label>
        <locationX>635</locationX>
        <locationY>274</locationY>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApprovalStepID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver_s_Division_Code__c</field>
            <value>
                <elementReference>Approver_s_Division_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_s_Division_Name__c</field>
            <value>
                <elementReference>Approver_s_Division_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_s_Location__c</field>
            <value>
                <elementReference>Approver_s_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_s_Organization_Acronym__c</field>
            <value>
                <elementReference>Approver_s_Organization_Acronym</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_s_Region_Location__c</field>
            <value>
                <elementReference>Approver_s_Region</elementReference>
            </value>
        </inputAssignments>
        <object>Approval_Step__c</object>
    </recordUpdates>
    <screens>
        <description>Approval Step Location Details</description>
        <name>Approval_Step_Location_Details</name>
        <label>Approval Step Location Details</label>
        <locationX>501</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Approval_Step_Record</targetReference>
        </connector>
        <fields>
            <name>Approver_s_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApprovalStep.Approver_s_Location__c</elementReference>
            </defaultValue>
            <fieldText>Approver&apos;s Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approver_s_Region</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApprovalStep.Approver_s_Region_Location__c</elementReference>
            </defaultValue>
            <fieldText>Approver&apos;s Region</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approver_s_Division_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApprovalStep.Approver_s_Division_Code__c</elementReference>
            </defaultValue>
            <fieldText>Approver&apos;s Division Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approver_s_Division_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApprovalStep.Approver_s_Division_Name__c</elementReference>
            </defaultValue>
            <fieldText>Approver&apos;s Division Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approver_s_Organization_Acronym</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApprovalStep.Approver_s_Organization_Acronym__c</elementReference>
            </defaultValue>
            <fieldText>Approver&apos;s Organization Acronym</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Fault</description>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>778</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Permission_Set_Not_Assigned</name>
        <label>Permission Set Not Assigned</label>
        <locationX>496</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message1</name>
            <fieldText>You do not have the necessary privileges to perform this action.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>IsCDTExecSecAdmin</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApprovalStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Step__c</objectType>
    </variables>
    <variables>
        <description>Approval Step Id</description>
        <name>ApprovalStepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CDTExecSecAdmin</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PermissionSetAssigmentIDs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
