src/flows/Proxy_Approval_by_Exec_SecFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ProxyBatch</name>
        <label>ProxyBatch</label>
        <locationX>484</locationX>
        <locationY>81</locationY>
        <actionName>flowDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Proxy_Approval_by_Exec_Sec</targetReference>
        </connector>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutoutVal</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Proxy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proxy Approval by Exec SecFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Proxy_Approval_by_Exec_Sec</name>
        <label>Proxy Approval by Exec Sec</label>
        <locationX>744</locationX>
        <locationY>74</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProxyOutput</name>
            <fieldText>&lt;p&gt;{!OutoutVal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ProxyBatch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OutoutVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
